<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="/css/main.css" rel="stylesheet" id="main-css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- selective.js !-->
  <link rel="stylesheet" href="/css/selectize.bootstrap3.css">
  <script src="/js/selectize.js"></script>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#">Movie Trailers</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline form-group my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
      </div>
    </nav>

  </div>
</body>

</html>